<aside class="left-sidebar">
  
  <div class="sidebar-module">
    <h4 class="sidebar-heading header-highlight">Share</h4>
    <ul class="share-list">
      <li class="share-item">
        <a href="#" class="share-link" onclick="window.print(); return false;">
          <i class="fas fa-print"></i> Print this page
        </a>
      </li>
      <li class="share-item">
        <a href="mailto:?subject=Engineering Tools&body=Check this out!" class="share-link">
          <i class="fas fa-envelope"></i> Send via Email
        </a>
      </li>
      <li class="share-item">
        <a href="#" class="share-link">
          <i class="fab fa-twitter"></i> Share on Twitter
        </a>
      </li>
    </ul>
  </div>

  <div class="sidebar-module">
    <h4 class="sidebar-heading">Facebook</h4>
    <a href="https://facebook.com/g.technical" target="_blank" class="rec-link">
      <i class="fab fa-facebook-square" style="color: #4267B2; font-size: 1.2rem;"></i> Facebook Page
    </a>
  </div>

  <div class="sidebar-module">
    <h4 class="sidebar-heading">Recommend Books</h4>
    <ul class="rec-list">
      <li class="rec-item">
        <a href="#" class="rec-link"><i class="fas fa-book"></i> Coastal Engineering Manual (CEM)</a>
      </li>
      <li class="rec-item">
        <a href="#" class="rec-link"><i class="fas fa-book"></i> Foundation Analysis and Design (Bowles)</a>
      </li>
    </ul>
  </div>

  <div class="sidebar-module">
    <h4 class="sidebar-heading">Recommend Courses</h4>
    <ul class="rec-list">
      <li class="rec-item">
        <a href="#" class="rec-link"><i class="fas fa-graduation-cap"></i> Coursera: Civil Engineering</a>
      </li>
      <li class="rec-item">
        <a href="#" class="rec-link"><i class="fas fa-graduation-cap"></i> Udemy: SAP2000 Ultimate</a>
      </li>
    </ul>
  </div>

</aside>