/* Đặc thù cho Pile Group */

/* Tùy chỉnh màu header của bảng kết quả */
#resultTabsContent .table-primary {
    --bs-table-bg: #cfe2ff;
    --bs-table-color: #000;
}

/* Badge đếm số cọc */
#pile-count {
    font-size: 0.9em;
    padding: 0.5em 0.8em;
}