<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "vi" }}">
{% include head.html %}
<body>

  {% include nav.html %} <div class="page-wrapper">
    
    <aside class="sidebar-left-area">
      {% include sidebar-left.html %}
    </aside>

    <main class="main-content-area" role="main">
      {% if page.title %}
        <h1>{{ page.title }}</h1>
      {% endif %}
      
      {{ content }}
    </main>

    <aside class="sidebar-right-area">
      {% include sidebar-right.html %}
    </aside>

  </div>
  {% include footer.html %}
  {% include scripts.html %}

</body>
</html>